<nav class="navbar navbar-dark bg-primary pt-3 pb-3">
  <div class="navbar-brand">DeepSteem<small>(BETA)</small></div>
  <div class="input-group" style="width:300px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" [ngModel]="account_name" 
             (ngModelChange)="account_name = accountChanged($event)" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</nav>
<div style="text-align:center" class="ml-1 mr-1 mt-3">
    <app-promo-link></app-promo-link>
    <div class="row">
    <app-steem-stats></app-steem-stats>
    <div class="col-sm mb-2">
      <div class="card">
          <div class="card-header bg-primary">Voting power</div>
          <div class="card-body">
            <p class="card-text">{{ account_info.voting_power | number:'.1-2' }} %</p>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" [style.width]="account_info.voting_power + '%'"
              [attr.aria-valuenow]="account_info.voting_power" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
      </div>
    </div>

    <div class="col-sm mb-2">
      <div class="card">
        <div class="card-header bg-primary">100% Vote value</div>
        <div class="card-body">
          <p class="card-text">{{ account_info.vote_value | number:'.1-4' }} SBD</p>
        </div>
      </div>
    </div>

    <div class="col-sm mb-2">
        <div class="card mb-3">
          <div class="card-header bg-primary">Expected curation rewards</div>
          <div class="card-body">
            <p class="card-text">Total: {{ account_info.curation_sum | number:'.1-4' }} SP</p>
            <p class="card-text">24h: {{ account_info.curation_sum_1d | number:'.1-4' }} SP</p>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" [style.width]="account_info.vote_processed_num*100/account_info.vote_num + '%'"
                   [attr.aria-valuenow]="account_info.vote_processed_num" aria-valuemin="0" [attr.aria-valuemax]="account_info.vote_num">{{account_info.vote_processed_num}}/{{account_info.vote_num}}</div>
              </div>
          </div>
        </div>
      </div>
    <div class="col-sm">
      <div class="card mb-3">
          <div class="card-header bg-primary">Vote distribution</div>
          <div class="card-body">
              <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"></canvas>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="card mb-1">
    <div class="card-header bg-primary">Incoming rewards for posts</div>
    <div class="card-body">
      <table class="table table-striped table-sm">
        <thead>
          <th scope="col">ETA</th>
          <th scope="col">Link</th>
          <th scope="col">STEEM</th>
          <th scope="col">SP</th>
          <th scope="col">SBD</th>
        </thead>
        <tbody>
          <tr *ngFor="let post of account_info.posts">
            <td><small>{{ post.eta | ETA }}</small></td>
            <td><small><a target="_blank" rel="noopener" [href]="post.url">{{ post.shortperm }}</a></small></td>
            <td><small>{{ (post.steem_value | number:'.3') + " STEEM" }}</small></td>
            <td><small>{{ (post.sbd_value | number:'.3') + " SBD" }}</small></td>
            <td><small>{{ (post.sp_value | number:'.3') + " SP" }}</small></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card mt-1 mb-1">
    <div class="card-header bg-primary">Incoming curation rewards</div>
    <div class="card-body">
      <table class="table table-striped table-sm">
        <thead>
          <th scope="col">ETA</th>
          <th scope="col">Link</th>
          <th scope="col">Weight</th>
          <th scope="col">Reward</th>
        </thead>
        <tbody>
          <tr *ngFor="let vote of account_info.votes">
            <td><small>{{ vote.eta |  ETA }}</small></td>
            <td><small><a target="_blank" rel="noopener" [href]="vote.url">{{ vote.shortperm }}</a></small></td>
            <td><small>{{ vote.weight }}</small></td>
            <td><small>{{ (vote.value | number:'.3') + " SP"}}</small></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
