<div class="col-sm mb-2">
  <div class="card">
      <div class="card-header bg-primary">STEEM stats</div>
      <div style="text-align:left" class="card-body">
        <p class="card-text"><small><span class="font-weight-bold">STEEM market price:</span> {{ steem_price | number:'.1-3' }} $</small></p>
        <p class="card-text"><small><span class="font-weight-bold">STEEM median price:</span> {{ median_price | number:'.1-3' }} $</small></p>
        <p class="card-text"><small><span class="font-weight-bold">SBD print rate:</span> {{ sbd_print_rate }} %</small></p>
      </div>
  </div>
</div>