<div class="card mt-1 mb-1">
  <div class="card-header bg-primary">Followers</div>
  <div class="card-body">
    <table class="table table-striped table-sm">
      <thead>
        <th scope="col">Follower</th>
        <th scope="col">Vote value (Sum: {{ vote_sum | number:'.1-4' }} SBD) ( {{ processed }} / {{ total }} )</th>
      </thead>
      <tbody>
        <!--
        <tr *ngFor="let f of followers">
          <td><small>{{ f.follower }}</small></td>
          <td><small>{{ f.vote_value | number:'.1-4' }} SBD</small></td>
        </tr>-->
      </tbody>
    </table>
  </div>
</div>